
{% extends 'bootstrap.base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<h1>Set a new password!</h1>
<form method="POST" action="{% url 'accounts:password_reset_confirm' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="button" type="submit">Reset Password</button>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}